.full-cart{
    width: 300px;
    height: 450px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    margin: 15px auto;
   
}

.nothing{
    height: 10px;
}

.img-div{
    width: 280px;
    height: 120px;
    background-color: bisque;
    margin: 0px auto;
    border-radius: 10px;
}
.img-div img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.card-details{
    padding-left: 20px;
}
.card-details p{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.card-details .blog{
    font-size: 17px;
    margin-bottom: 20px;
    color: #848484;
}
button{
    width: 280px;
    display: block;
    border-radius: 8px;
    border: none;
    position: absolute;
    bottom: 3px;
    margin: 10px;
    background-color: #5D5FEF;
    cursor: pointer;
}
button p{
    font-size: 18px;
    font-weight: 500;
    color: #F2F4FA;
}
button:hover{
    background-color: #0026ff;
}