.full-container{
     width: 100%;
     
     background-color: #F2F4FA;
     padding: 20px 100px;
}
.all-cart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.full-container h1{
    color: #5D5FEF;
    text-transform: uppercase;
    font-weight: 700;
}
h3{
    font-weight: 500;
    size: 25px;
}
@media only screen and (max-width:1545px) {
        .full-container{
           
            padding: 20px 20px;
        }
}
@media only screen and (max-width:1430px){
    .all-cart{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width:1070px){
    .all-cart{
        grid-template-columns: repeat(1,1fr);
    }
}
